.jumbotron{
    background-image:linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.1)), url('../img/strawberry.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    position: relative;
    .text{
        position: absolute;
        top: 50%;
        right: 45%;
        z-index: 100;
        text-transform: translate(-50%,-50%);
    }
    h2{
        font-size: 50px;
        font-style: italic;
        text-transform: uppercase;
        font-family: 'Faster One', cursive;
    }
}
